<p>
<b>Name:</b>
<%= @store.name %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %>

<p>
<b>Receipts:</b>
</p>

<%= link_to 'Add Receipt', new_receipt_path %><br /><br />

<table>
  <tr>
    <th>Purchase Date</th>
    <th>Total</th>
    <th>Purchaser</th>
  </tr>

  <% @store.receipts.each do |receipt| %>
    <tr>
      <td><%= receipt.purchase_date %></td>
      <td><%= number_to_currency (receipt.total/100.0) %></td>
      <td><%= link_to receipt.purchaser.name, user_path(receipt.purchaser) %></td>
      <td><%= link_to 'Show', receipt_path(receipt) %></td>
      <td><%= link_to 'Edit', edit_receipt_path(receipt) %></td>
    </tr>
  <% end %>
</table>
