<p>
<b>Name:</b>
<%= @user.name %>
</p>

<p>
<b>Receipts:</b>
</p>


<table>
  <tr>
    <th>Purchase Date</th>
    <th>Total</th>
  </tr>

  <% @user.receipts.each do |receipt| %>
    <tr>
      <td><%= receipt.purchase_date %></td>
      <td><%= number_to_currency (receipt.total/100.0) %></td>
      <td><%= link_to 'Show', receipt_path(receipt) %></td>
      <td><%= link_to 'Edit', edit_receipt_path(receipt) %></td>
    </tr>
  <% end %>
</table>
