<%= form_for @item do |f| %>

  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %>
        prohibited this item from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th>Taxed?</th>
      <th>Product ID</th>
      <th>Name</th>
      <th>Unit price</th>
      <th>Receipt</th>
    </tr>

    <tr>
      <td><%= f.select :taxed, [["Yes", true], ["Exempt", false]] %></td>
      <td><%= f.text_field :product_id %></td>
      <td><%= f.text_field :name %></td>
      <td><%= f.text_field :unit_price %></td>
      <td><%= f.select :receipt_id, [['', nil]]+Receipt.all.collect(&:selectable) %></td>
      <td><%= f.submit %></td>
    </tr>
  </table>

  </table>

<% end %>
