<h1>Item list</h1>

<%= link_to 'Add Item', new_item_path %><br /><br />

<table>
  <tr>
    <th>Taxed?</th>
    <th>Product ID</th>
    <th>Name</th>
    <th>Unit Price</th>
  </tr>

  <% def to_let b
       if b then "Y" else "N" end
     end %>

  <% @items.distinct(&:product_id).each do |item| %>
    <tr>
      <td><%= to_let item.taxed %></td>
      <td><%= item.product_id %></td>
      <td><%= item.name %></td>
      <td><%= number_to_currency (item.unit_price/100.0) %></td>
      <td><%= link_to 'Show', item_path(item) %></td>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
    </tr>
  <% end %>
</table>

