<p>
<b>Store Name:</b>
<%= link_to @receipt.store.name, store_path(@receipt.store) %>
</p>

<p>
<b>Purchase Date:</b>
<%= @receipt.purchase_date %>
</p>

<p>
<b>Total:</b>
<%= number_to_currency (@receipt.total/100.0) %>
</p>

<p>
<b>Purchaser:</b>
<%= link_to @receipt.purchaser.name, user_path(@receipt.purchaser) %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %>

<p>
<b>Items:</b>
</p>

<%= link_to 'Add Item', new_item_path(:receipt_id => @receipt.id) %><br /><br />

<table>
  <tr>
    <th>Taxed?</th>
    <th>Qty</th>
    <th>Product ID</th>
    <th>Name</th>
    <th>Unit Price</th>
  </tr>

  <% def to_let b
       if b then "Y" else "N" end
     end %>

  <% @receipt.items.group_by(&:product_id).each do |product_id, items| %>
    <% item = items.first %>
    <tr>
      <td><%= to_let item.taxed %></td>
      <td><%= items.length %></td>
      <td><%= item.product_id %></td>
      <td><%= item.name %></td>
      <td><%= number_to_currency (item.unit_price/100.0) %></td>
      <td><%= link_to 'Show', item_path(item) %></td>
      <td><%= link_to 'Remove', remove_item_path(item, receipt_id: @receipt.id), method: :post %></td>
    </tr>
  <% end %>
</table>
