<!DOCTYPE html>
<html>
  <head>
    <title>ReceiptManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Stores', stores_path %></li>
      <li><%= link_to 'Receipts', receipts_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
